.btn-add,
  .btn-update,
  .btn-delete {
    padding: 10px 16px;
    background-color: #ff9f00; /* Màu cam nhạt */
    color: #fff; /* Màu chữ trắng */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  /* Hiệu ứng hover khi di chuột qua nút */
  .btn-add:hover,
  .btn-update:hover,
  .btn-delete:hover {
    background-color: #ffbf80; /* Màu cam nhạt khi hover */
  }

.img{
    border-radius: 20px;
}